<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>1ID</title>
    <link
      rel="stylesheet"
      href="../public/css/bootstrap.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../public/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="../public/css/sweet-alert.css"
      type="text/css"
    />

    <script src="https://cdn.jsdelivr.net/npm/ipfs-http-client/dist/index.min.js"></script>
    <script>
      var UserAddress = "";
      window.addEventListener("load", async () => {
        if (window.ethereum) {
          window.web3 = new Web3(ethereum);
          try {
            await ethereum.enable();
            UserAddress = web3.eth.coinbase;
          } catch (error) {
            alert("User denied account access...");
          }
        } else if (window.web3) {
          window.web3 = new Web3(web3.currentProvider);
          UserAddress = web3.eth.coinbase;
        } else {
          alert(
            "Non-Ethereum browser detected. You should consider trying MetaMask!"
          );
        }
        web3.eth.getAccounts(function (err, accounts) {
          if (err != null) {
            alert("Error retrieving accounts.");
            return;
          }
          if (accounts.length == 0) {
            alert(
              "No account found! Make sure the Ethereum client is configured properly."
            );
            return;
          }
          UserAddress = accounts[0];
          web3.eth.defaultAccount = UserAddress;
        });
      });

      function AddUser() {
        var ABIString = document.getElementById("hdnContractABI").value;
        ABIString = ABIString.replace(/'/g, '"');
        ABIJSON = JSON.parse(ABIString);
        MyContract = new web3.eth.Contract(ABIJSON, "<%=ContractAddress%>");

        var FullName = document.getElementById("txtFullName").value;
        var EmailID = document.getElementById("txtEmailID").value;
        var MobileNo = document.getElementById("txtMobileNo").value;
        MyContract.methods
          .AddUser(UserAddress, FullName, EmailID, MobileNo)
          .send({ from: UserAddress })
          .then(function (tx) {
            console.log(tx)
            location.href = "/Message?TransHash=" + tx.transactionHash;
          })
          .catch(function (err) {
            console.log(err);
          });
      }
    </script>
  </head>
  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="../public/img/1ID-logo.png" />
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="/">Home</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <form name="IntelitixForm" method="post">
      <div class="container container_body">
        <div class="row">
          <div class="col-md-4 center-block">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Create Wallet</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label class="control-label" for="txtFullName"
                    >Your Name</label
                  >
                  <input
                    class="form-control"
                    name="txtFullName"
                    id="txtFullName"
                    type="text"
                    value=""
                    placeholder="Name"
                  />
                </div>
                <div class="form-group">
                  <label class="control-label" for="txtEmailID">Email ID</label>
                  <input
                    class="form-control"
                    name="txtEmailID"
                    id="txtEmailID"
                    type="text"
                    value=""
                    placeholder="Email ID"
                  />
                </div>
                <div class="form-group">
                  <label class="control-label" for="txtMobileNo"
                    >Mobile No.</label
                  >
                  <input
                    class="form-control"
                    name="txtMobileNo"
                    id="txtMobileNo"
                    type="text"
                    value=""
                    placeholder="Mobile No."
                  />
                </div>
                <div class="aligncenter">
                  <button
                    type="button"
                    class="btn btnsm btn-primary"
                    onClick="AddUser()"
                  >
                    Create Wallet
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <input
        type="hidden"
        id="hdnContractABI"
        name="hdnContractABI"
        value='[{"inputs":[],"stateMutability":"nonpayable","type":"constructor"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"string","name":"RequestedBy","type":"string"},{"internalType":"uint256","name":"DL_No","type":"uint256"},{"internalType":"uint256","name":"DL_Name","type":"uint256"},{"internalType":"uint256","name":"DL_DOB","type":"uint256"},{"internalType":"uint256","name":"DL_Hash","type":"uint256"},{"internalType":"uint256","name":"DL_Address","type":"uint256"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"name":"AddDLRequest","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"string","name":"FullName","type":"string"},{"internalType":"string","name":"EmailID","type":"string"},{"internalType":"uint256","name":"MobileNo","type":"uint256"}],"name":"AddUser","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"string","name":"DL_No","type":"string"},{"internalType":"string","name":"DL_Name","type":"string"},{"internalType":"string","name":"DL_DOB","type":"string"},{"internalType":"string","name":"DL_Hash","type":"string"},{"internalType":"string","name":"DL_Address","type":"string"}],"name":"AddUserDL","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"},{"internalType":"uint256","name":"DL_No","type":"uint256"},{"internalType":"uint256","name":"DL_Name","type":"uint256"},{"internalType":"uint256","name":"DL_DOB","type":"uint256"},{"internalType":"uint256","name":"DL_Hash","type":"uint256"},{"internalType":"uint256","name":"DL_Address","type":"uint256"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"name":"UpdateRequestStatus","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"}],"name":"ViewDLRequestDetail","outputs":[{"internalType":"string","name":"RequestedBy","type":"string"},{"internalType":"uint256","name":"DL_No","type":"uint256"},{"internalType":"uint256","name":"DL_Name","type":"uint256"},{"internalType":"uint256","name":"DL_DOB","type":"uint256"},{"internalType":"uint256","name":"DL_Hash","type":"uint256"},{"internalType":"uint256","name":"DL_Address","type":"uint256"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"}],"name":"ViewDLRequestHeader","outputs":[{"internalType":"string","name":"RequestedBy","type":"string"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"}],"name":"ViewDLRequestLength","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"UserIndex","type":"uint256"}],"name":"viewUser","outputs":[{"internalType":"string","name":"FullName","type":"string"},{"internalType":"string","name":"EmailID","type":"string"},{"internalType":"uint256","name":"MobileNo","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"}],"name":"viewUserDL","outputs":[{"internalType":"uint256","name":"DL_No_S","type":"uint256"},{"internalType":"string","name":"DL_No_V","type":"string"},{"internalType":"uint256","name":"DL_Name_S","type":"uint256"},{"internalType":"string","name":"DL_Name_V","type":"string"},{"internalType":"uint256","name":"DL_DOB_S","type":"uint256"},{"internalType":"string","name":"DL_DOB_V","type":"string"},{"internalType":"uint256","name":"DL_Hash_S","type":"uint256"},{"internalType":"string","name":"DL_Hash_V","type":"string"},{"internalType":"uint256","name":"DL_Address_S","type":"uint256"},{"internalType":"string","name":"DL_Address_V","type":"string"}],"stateMutability":"view","type":"function"}]'
      />
    </form>

    <footer class="navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="footer-copyright">&copy; 2019 1ID</div>
          </div>
        </div>
      </div>
    </footer>
    <%- include('./Header'); %>
  </body>
</html>
