<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>1ID</title>
    <link
      rel="stylesheet"
      href="../public/css/bootstrap.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../public/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="../public/css/sweet-alert.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../public/css/style_bank.css"
      type="text/css"
    />
    <script>
      var UserAddress="";

      var DL_No = 0;
      var DL_Name = 0;
      var DL_DOB = 0;
      var DL_Hash = 0;
      var DL_Address = 0;

      window.addEventListener('load', async () => {
          if (window.ethereum) {
                window.web3 = new Web3(ethereum);
                try {
                  await ethereum.enable();
                  UserAddress = web3.eth.coinbase;
                } catch (error) {
                  alert("User denied account access...");
                }
              } else if (window.web3) {
                window.web3 = new Web3(web3.currentProvider);
                UserAddress = web3.eth.coinbase;
              } else {
                alert(
                  "Non-Ethereum browser detected. You should consider trying MetaMask!"
                );
              }
              web3.eth.getAccounts(function (err, accounts) {
                if (err != null) {
                  alert("Error retrieving accounts.");
                  return;
                }
                if (accounts.length == 0) {
                  alert(
                    "No account found! Make sure the Ethereum client is configured properly."
                  );
                  return;
                }
                UserAddress = accounts[0];
                web3.eth.defaultAccount = UserAddress;
                viewUserDL();
              });
      });

      function viewUserDL()
      {
      	var ABIString = document.getElementById("hdnContractABI").value;
      	ABIString = ABIString.replace(/'/g , "\"");
      	ABIJSON = JSON.parse(ABIString);
      	MyContract = new web3.eth.Contract(ABIJSON, "<%=ContractAddress%>");

      	requestlistchild = document.getElementById("requestlistchild");
        MyContract.methods
        .viewUserDL(UserAddress, <%=RequestIndex%>)
        .call()
        .then(function (result) {
        console.log(result);
        DL_No = parseInt(result[0]);
                    DL_No_Value = result[1];

                    DL_Name = parseInt(result[2]);
                    DL_Name_Value = result[3];

                    DL_DOB = parseInt(result[4]);
                    DL_DOB_Value = result[5];

                    DL_Hash = parseInt(result[6]);
                    DL_Hash_Value = result[7];

                    DL_Address = parseInt(result[8]);
                    DL_Address_Value = result[9];


                    if(DL_No > 0)
                    {
                        if(DL_No == 2)
                        {
                            DL_No_Status = "<font color='green'><b>Approved</b></font>";
                        }
                        else
                        {
                            DL_No_Status = "Rejected";
                            DL_No_Value = "";
                        }

                        var listHTML = "<tr><td width='40%'>Driving Licence No.</td><td width='20%'>"+DL_No_Status+"</td><td width='40%' align='center'>"+DL_No_Value+"</td></tr>";
                        requestlistchild.insertAdjacentHTML('beforeend',listHTML);
                    }

                    if(DL_Name > 0)
                    {
                        if(DL_Name == 2)
                        {
                            DL_Name_Status = "<font color='green'><b>Approved</b></font>";
                        }
                        else
                        {
                            DL_Name_Status = "<font color='red'><b>Rejected</b></font>";
                            DL_Name_Value = "";
                        }

                        var listHTML = "<tr><td width='40%'>Name as per Driving Licence</td><td width='20%'>"+DL_Name_Status+"</td><td width='40%' align='center'>"+DL_Name_Value+"</td></tr>";
                        requestlistchild.insertAdjacentHTML('beforeend',listHTML);
                    }

                    if(DL_DOB > 0)
                    {
                        if(DL_DOB == 2)
                        {
                            DL_DOB_Status = "<font color='green'><b>Approved</b></font>";
                        }
                        else
                        {
                            DL_DOB_Status = "<font color='red'><b>Rejected</b></font>";
                            DL_DOB_Value = "";
                        }

                        var listHTML = "<tr><td width='40%'>Date Of Birth as per Driving Licence</td><td width='20%'>"+DL_DOB_Status+"</td><td width='40%' align='center'>"+DL_DOB_Value+"</td></tr>";
                        requestlistchild.insertAdjacentHTML('beforeend',listHTML);
                    }

                    if(DL_Hash > 0)
                    {
                        if(DL_Hash == 2)
                        {
                            DL_Hash_Status = "<font color='green'><b>Approved</b></font>";

                            DrivingLicenceHash = DL_Hash_Value//hex2a(DL_Hash_Value);
                            document.getElementById("hdnDrivingLicenceHash").value=DrivingLicenceHash;

                            showDLBtn = "<button type='button' class='btn btn-primary btn-xs' onClick='showDrivingLicence()'>View Licence</button>";
                        }
                        else
                        {
                            DL_Hash_Status = "<font color='red'><b>Rejected</b></font>";
                            DL_Hash_Value = "";
                        }

                        var listHTML = "<tr><td width='40%'>Digital Licence Copy</td><td width='20%'>"+DL_Hash_Status+"</td><td width='40%' align='center'>"+showDLBtn+"</td></tr>";
                        requestlistchild.insertAdjacentHTML('beforeend',listHTML);
                    }

                    if(DL_Address > 0)
                    {
                        if(DL_Address == 2)
                        {
                            DL_Address_Status = "<font color='green'><b>Approved</b></font>";
                        }
                        else
                        {
                            DL_Address_Status = "<font color='red'><b>Rejected</b></font>";
                            DL_Address_Value = "";
                        }

                        var listHTML = "<tr><td width='40%'>Address as per Driving Licence</td><td width='20%'>"+DL_Address_Status+"</td><td width='40%' align='center'>"+DL_Address_Value+"</td></tr>";
                        requestlistchild.insertAdjacentHTML('beforeend',listHTML);
                    }
        })
        .catch(function (err) {
        swal(err);
        });
        }

      function hex2a(hexx) {
        console.log(hexx);
      	var hex = hexx.substring(2,hexx.length)
          hex = hex.toString();//force conversion
          var str = '';
          for (var i = 0; i < hex.length; i += 2)
              str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
          return str;
      }

      async function showDrivingLicence()
      {
      	var InvoiceHash = document.getElementById("hdnDrivingLicenceHash").value;
          const ipfs = window.IpfsHttpClient.create({
            host: "ipfs.infura.io",
            port: "5001",
          });
          console.log(InvoiceHash);
          console.log(ipfs)
          const data = await ipfs.get(InvoiceHash.toString())
          console.log(data);
          invoiceURL = "https://ipfs.infura.io/ipfs/"+InvoiceHash;
          openInvoiceWindow(invoiceURL)
          var certURLDiv = document.getElementById("certURLDiv");
      	  certURLDiv.innerHTML = "<a href='"+URL+"' target='_blank'>"+URL+"</a>"
      }

      function openInvoiceWindow(invoiceURL)
      {
      	var modal = $('#mymodal'), modalBody = $('#mymodal .modal-body');

          modal
              .on('show.bs.modal', function () {
                  //modalBody.load(certificateURL)
      			document.getElementById("CertIFrame").src=invoiceURL;

              })
              .modal();
      }
    </script>
  </head>
  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="../public/img/1ID-logo.png" />
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="/">Home</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <form name="IntelitixForm" method="post" action="pubcert.asp">
      <div class="container container_body">
        <div class="row">
          <div class="col-md-7 center-block">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">View Requested Data</h3>
              </div>
              <div class="panel-body">
                <table class="table table-bordered" id="requestlistparent">
                  <tr>
                    <td width="40" align="center"><b>Institution Name</b></td>
                    <td width="40" align="center">
                      <b><%=InstitutionName%></b>
                    </td>
                  </tr>
                </table>
                <table class="table table-bordered" id="requestlistchild">
                  <tr>
                    <td colspan="3" align="center"><b>Requested Access</b></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input
        type="hidden"
        id="hdnDrivingLicenceHash"
        name="hdnDrivingLicenceHash"
        value=""
      />
      <input
        type="hidden"
        id="hdnContractABI"
        name="hdnContractABI"
        value='[{"inputs":[],"stateMutability":"nonpayable","type":"constructor"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"string","name":"RequestedBy","type":"string"},{"internalType":"uint256","name":"DL_No","type":"uint256"},{"internalType":"uint256","name":"DL_Name","type":"uint256"},{"internalType":"uint256","name":"DL_DOB","type":"uint256"},{"internalType":"uint256","name":"DL_Hash","type":"uint256"},{"internalType":"uint256","name":"DL_Address","type":"uint256"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"name":"AddDLRequest","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"string","name":"FullName","type":"string"},{"internalType":"string","name":"EmailID","type":"string"},{"internalType":"uint256","name":"MobileNo","type":"uint256"}],"name":"AddUser","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"string","name":"DL_No","type":"string"},{"internalType":"string","name":"DL_Name","type":"string"},{"internalType":"string","name":"DL_DOB","type":"string"},{"internalType":"string","name":"DL_Hash","type":"string"},{"internalType":"string","name":"DL_Address","type":"string"}],"name":"AddUserDL","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"},{"internalType":"uint256","name":"DL_No","type":"uint256"},{"internalType":"uint256","name":"DL_Name","type":"uint256"},{"internalType":"uint256","name":"DL_DOB","type":"uint256"},{"internalType":"uint256","name":"DL_Hash","type":"uint256"},{"internalType":"uint256","name":"DL_Address","type":"uint256"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"name":"UpdateRequestStatus","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"}],"name":"ViewDLRequestDetail","outputs":[{"internalType":"string","name":"RequestedBy","type":"string"},{"internalType":"uint256","name":"DL_No","type":"uint256"},{"internalType":"uint256","name":"DL_Name","type":"uint256"},{"internalType":"uint256","name":"DL_DOB","type":"uint256"},{"internalType":"uint256","name":"DL_Hash","type":"uint256"},{"internalType":"uint256","name":"DL_Address","type":"uint256"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"}],"name":"ViewDLRequestHeader","outputs":[{"internalType":"string","name":"RequestedBy","type":"string"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"}],"name":"ViewDLRequestLength","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"UserIndex","type":"uint256"}],"name":"viewUser","outputs":[{"internalType":"string","name":"FullName","type":"string"},{"internalType":"string","name":"EmailID","type":"string"},{"internalType":"uint256","name":"MobileNo","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"}],"name":"viewUserDL","outputs":[{"internalType":"uint256","name":"DL_No_S","type":"uint256"},{"internalType":"string","name":"DL_No_V","type":"string"},{"internalType":"uint256","name":"DL_Name_S","type":"uint256"},{"internalType":"string","name":"DL_Name_V","type":"string"},{"internalType":"uint256","name":"DL_DOB_S","type":"uint256"},{"internalType":"string","name":"DL_DOB_V","type":"string"},{"internalType":"uint256","name":"DL_Hash_S","type":"uint256"},{"internalType":"string","name":"DL_Hash_V","type":"string"},{"internalType":"uint256","name":"DL_Address_S","type":"uint256"},{"internalType":"string","name":"DL_Address_V","type":"string"}],"stateMutability":"view","type":"function"}]'
      />
    </form>
    <div class="modal fade" id="mymodal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <iframe
              id="CertIFrame"
              src=""
              width="100%"
              height="500"
              frameborder="0"
            ></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer class="navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="footer-copyright">&copy; 2019 1ID</div>
          </div>
        </div>
      </div>
    </footer>
    <%- include('./Header'); %>
  </body>
</html>
